.wrapper
  display: grid
  grid-template-columns: 1fr 10fr
  align-items: center
  background: black
  padding: 8px

  .nav
    display: flex
    align-items: center
    justify-content: center
    padding: 0 16px
    border-radius: 32px
    height: 30%
    background: white
    gap: 30px
    list-style-type: none
    overflow: hidden
    flex-shrink: 0

.link
  color: black
  font-size: 20px
  &:hover
    transform: scale(1.1) 
    &:nth-child(2n)
      color: #FF00FF
      text-shadow: 0 0 5px #fff, 0 0 10px #FF00FF
    &:nth-child(2n+1)
      color: #00EAFF
      text-shadow: 0 0 5px #fff, 0 0 10px #00EAFF

    